<mat-card>
  <mat-card-title>Available Pets</mat-card-title>

  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>
      <button mat-mini-fab id="add-button" matTooltip="Add a new pet" (click)="addPet()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!--Loading-->
    <div *ngIf="!dataLoaded" id="spinner">
      <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>

    <mat-table [dataSource]="dataSource" matSort *ngIf="dataLoaded">
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let pet"> {{ pet.id }} </mat-cell>
      </ng-container>

      <!--Name-->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>>
        <mat-cell *matCellDef="let pet"> {{ pet.name }} </mat-cell>
      </ng-container>

      <!--Category-->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let pet"> {{ pet.category?.name }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!--Paginator-->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
