<mat-card>
  <mat-card-title>Pending Pets</mat-card-title>

  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
      </mat-form-field>
      <button mat-mini-fab id="add-button" matTooltip="Add a new pet" (click)="addPet()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let pet"> {{ pet.id }} </mat-cell>
      </ng-container>

      <!--Name-->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>>
        <mat-cell *matCellDef="let pet"> {{ pet.name }} </mat-cell>
      </ng-container>

      <!--Category-->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let pet"> {{ pet.category?.name | noValue }} </mat-cell>
      </ng-container>

      <!--Sold-->
      <ng-container matColumnDef="sold">
        <mat-header-cell *matHeaderCellDef> Sell </mat-header-cell>
        <mat-cell *matCellDef="let pet">
          <button mat-button matTooltip="Sell {{ pet.name }}" (click)="soldPet(pet)">
            <mat-icon>attach_money</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!--Delete-->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let pet">
          <button mat-button matTooltip="Remove {{ pet.name }}" (click)="removePet(pet)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <!--Loading-->
    <div *ngIf="!dataLoaded" id="spinner">
      <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner>
    </div>
    <!--Paginator-->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
